// src/styles/_colors.scss

// Brand Theme
$color-black: #000000;
$color-dark-grey: #1c1c1c;
$color-grey: #444444;
$color-light-grey: #f4f4f4;
$color-white: #ffffff;


// Semantic
$primary-color: $color-black;
$secondary-color: $color-grey;
$background-color: $color-white;
$background-alt: $color-light-grey;
$text-color: $color-grey;
$text-inverse: $color-white;
$border-color: #e0e0e0;
